.component__advertorial {
    .container {
        padding-top: 55px;
        padding-bottom: 100px;

        @include breakpoint($sm) {
            padding-left: 15px;
            padding-right: 15px;
        }

        @include breakpoint($md) {
            padding-top: 100px;
        }
    }

    h2 {
        font: {
            size: 32px;
            weight: 600;
        }

        color: $dark-blue;
        margin-top: 0;
    }

    h3 {
        font: {
            size: 28px;
            weight: normal;
        }

        color: $blue;
    }

    li {
        font-size: 16px;
    }

    p {
        font: {
            size: 16px;
            weight: normal;
        }

        span {
            color: $blue;
            font-weight: bold;
            white-space: nowrap;
        }

        line-height: 24px;
        margin-bottom: 25px;
    }

    table {
        margin: 20px 0;
        text-align: center;
        width: 100%;

        @include breakpoint($sm) {
            margin: 40px 0;
        }

        td {
            padding-top: 20px;

            @include breakpoint($sm) {
                width: 60px;
            }
        }

        p {

            &.title {
                font: {
                    size: 16px;
                    weight: 600;
                }

                color: $gray;
                margin-bottom: 10px;
            }

            &.subtitle {
                font: {
                    size: 32px;
                    weight: 600;
                }

                color: $dark-blue;
            }
        }
    }

    .links {
        margin-bottom: 50px;

        .link {
            margin-bottom: 5px;

            a {
                color: $blue;

                font: {
                    size: 16px;
                    weight: bold;
                }

                line-height: 24px;
            }
        }
    }

    .question {
        .question__title {
            font: {
                size: 24px;
                weight: normal;
            }

            color: $blue;
            line-height: 24px;
        }
    }
}
