.av-banner {
    background: #2980b9;
    padding: 60px 0;
    text-align: center;

    @include breakpoint($sm) {
        padding: 20px 0;
    }

    h3 {
        font: {
            size: 22px;
            weight: 600;
        }
        color: $white;
        margin: 0;
        line-height: 36px;

        @include breakpoint($sm) {
            font-size: 22px;
        }
    }
}
