a,
button {
  &.btn {
    background-color: $color-primary;
    color: $color-white;
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    width: auto;

    &:hover {
      text-decoration: none;
    }
  }
}
