.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 50px 20px;
  background-color: $color-secondary;

  &__logo {
    width: 25%;

    @include breakpoint($sm) {
      width: 10%;
    }

    img {
      display: block;
      max-width: 70px;
    }
  }

  &__links {
    width: 75%;

    @include breakpoint($sm) {
      width: 50%;
      text-align: center;
    }

    ul {
      li {
        display: inline-block;
        margin-right: 10px;

        a {
          color: $color-blue;
          text-decoration: none;
        }
      }
    }
  }

  &__copyright {
    text-align: center;
    width: 100%;

    @include breakpoint($sm) {
      width: 40%;
    }
  }
}
