.header {
  background-color: $color-white;
  padding: 60px 30px;
  text-align: center;

  @include breakpoint($sm) {
    background: url("src/images/wave.svg") no-repeat;
    background-color: $color-white;
    background-size: cover;
    background-position: right 135px;
    padding: 100px 30px;
    text-align: left;
  }

  &__content {
    max-width: 100%;
    margin: 0 auto;

    @include breakpoint($lg) {
      max-width: 1110px;
    }
  }

  h1 {
    margin-bottom: 20px;
  }

  h3 {
    margin-bottom: 10px;
  }

  a {
    &.btn {
      max-width: 115px;
      margin: 20px auto 0;

      @include breakpoint($sm) {
        margin: 0;
      }
    }
  }

  p {
    margin-bottom: 15px;
  }
}
