.live-raffle {
    
    h1 {
        text-align: center;
        text-transform: uppercase;
        font-family: 'Gloria Hallelujah',cursive;
        font: {
            size: 36px;
        }
        margin: 50px 0;
    }
    
    h2 {
        font: {
            size: 24px;
            font-weight: 600;
        }

        margin: 0;
    }

    p {
        span {
            font-weight: bold;
            font-size: 22px;
        }
    }

    .prize {
        margin: 20px 0;
        img, h2 {
            display: inline-block;
        }
    }
}