.nav {
  background-color: $color-white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 15px 5px 5px;

  &__content {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    @include breakpoint($lg) {
      max-width: 1110px;
    }
  }

  &__logo {
    width: 20%;

    img {
      max-width: 70px;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    width: 80%;
  }

  &__name {
    display: none;
    @include breakpoint($sm) {
      display: none;
    }
  }

  &__profile {
    display: none;

    p {
      color: #ada6a6;
    }

    @include breakpoint($sm) {
      display: block;
    }
  }

  &__logo {
  }

  &__contact {
    display: none;

    @include breakpoint($sm) {
      display: block;
    }

    p {
      font-weight: bold;
    }
  }
}
