.projects {
  h2 {
    text-align: center;
  }

  &__list {
    .item {
      max-width: 290px;
      margin: 0 auto;
      padding: 20px 0;

      @include breakpoint($sm) {
        display: flex;
        max-width: 100%;

        &:nth-child(even) {
          flex-direction: row-reverse;
        }
      }

      .item__image {
        padding: 20px 0;

        @include breakpoint($sm) {
          width: 60%;
        }
      }

      .item__description {
        @include breakpoint($sm) {
          width: 40%;
          padding: 20px;
        }
        h3 {
          @include breakpoint($sm) {
            font-size: 24px;
          }

          @include breakpoint($lg) {
            font-size: 28px;
          }
        }

        p {
          margin-top: 10px;

          @include breakpoint($sm) {
            font-size: 18px;
          }

          @include breakpoint($lg) {
            font-size: 20px;
          }
        }

        ul {
          display: flex;
          list-style: none;
          align-items: center;
          padding-top: 10px;

          li {
            margin-right: 5px;

            &:first-child {
              margin-right: 2px;
              img {
                width: 32px;
              }
            }
            &:last-child {
              img {
                margin-left: -2px;
                width: 28px;
              }
            }
            img {
              max-width: 100%;
              width: 23px;
            }
          }
        }
      }
    }
  }
}
