[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img {
    max-width: 100%;
}

sub, sup {
    font-size: 50%;
    top: -1em;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: $text-size;
    color: $gray;
}

main {
    padding-top: 85px;
}

section {
    position: relative;

    .container {
        padding-left: 20px;
        padding-right: 20px;

        @include breakpoint($sm) {
            padding-left: 27px;
            padding-right: 27px;
        }

        @include breakpoint($md) {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}

.btn {
    background: $light-blue;
    font-family: $secondary-font-bold;
    border-radius: 10px;
    color: $white;
    cursor: pointer;
    display: block;

    font: {
        size: 18px;
        weight: bold;
    }

    margin: 20px auto;
    padding: 10px 0;
    text-transform: uppercase;
    width: 200px;

    &:focus {
        outline: none;
        color: $white;
    }

    &:hover {
        color: $white;
    }
}

.row {
    margin: 0;
}