/* Add icons list */
$icons: ( 
    facebook: "\e900", 
    instagram: "\e901"
);

/* Create class for each icon in the list */
@each $name, $value in $icons {
    .icon-#{$name}:before {
        content: $value;
    }
}
