---
import { SITE_TITLE } from "../consts";
import MobileMenu from "./MobileMenu.astro";
import DesktopMenu from "./DesktopMenu.astro";
---

<header class="dark:bg-slate-600 m-0 py-0 px-4">
  <nav class="grid grid-cols-1 md:grid-cols-3 md:items-center">
    <h2 class="m-0 py-8 flex text-4xl font-semibold">
      <a
        class="no-underline flex items-center gap-2 active:no-underline"
        href="/"><img src="/assets/code.svg" /><span>{SITE_TITLE}</span></a
      >
    </h2>

    <MobileMenu />
    <DesktopMenu />
  </nav>
</header>
<style>
  header {
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
  }
</style>
