---

---

<section
  class="hero flex items-center flex-wrap gap-[30px] mb-[60px] px-0 py-12 md:flex-nowrap md:px-0 md:py-10"
>
  <div class="md:max-w-[40rem] lg:max-w-[50rem]">
    <h1 class="text-9xl font-bold mb-6">Angelo Leva</h1>
    <h2 class="text-5xl font-medium leading-snug">
      I am a frontend developer who enjoy bringing ideas to life in the browser.
    </h2>
  </div>
  <div class="mx-auto my-0">
    <img
      class="rounded-full max-w-[250px] backdrop-grayscale-[.5] lg:max-w-[90%]"
      src="/assets/profile.png"
      alt=""
    />
  </div>
</section>

<style lang="scss"></style>
