---
const { title, link, thumbnail } = Astro.props;
---

<div class="video">
  <a target="_blank" href={link}>
    <img src={thumbnail} alt="" />
    <h3 class="text-3xl font-bold mt-2">{title}</h3>
  </a>
</div>

<style lang="scss"></style>
